.yp-tickets__label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.field-row {
  border-top: 1px solid #e2e2e2;
  padding: 15px 12px;

  &:first-child {
    border-top: none;
  }
}

.yp-tickets__box {
  margin-top: 0;
  margin-left: -12px;
  margin-right: -12px;
}
