.yp-tickets__label {
  font-weight: bold;
  display: block;
  margin-bottom: 25px;
}

.yp-ticket-attachment-details {
  margin-bottom: 30px;
}

.field-row {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}
