.disabled-field {
  position: relative;

  .banned {
    position: absolute;
    right: $spacer;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-field {
  margin-bottom: $spacer;

  label {
    width: 100%;
  }
}

.yp-tickets__form input[type="submit"] {
  width: auto;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

.yp-tickets__label {
  margin-bottom: $spacer / 2;
  display: block;
}

.yp-ticket-upload-error,
.yp-ticket__message {
  display: none;
}

.yp-ticket-upload-field {
  display: flex;
}

.yp-ticket-upload-filename {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  align-self: center;
  overflow: hidden;
}
