.link__notification {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: $red;
  transform: translateY(-0.6rem);
  margin-left: $spacer / 2;
}

.has-notification-badge {
  display: flex;
  align-items: center;
}
